{% extends 'base.html' %}

{% block content %}

<h1>Certifications</h1>
<br>
<br>
<br>
<h4> Google Data Analytics Professional Certificate - Coursera</h4>
<p>Learning Outcomes: Fundamental concepts of Data Analytics </p>

<h4>RedHat Certified System Administrator (RHCSA)</h4>
<p>Learning Outcomes: Fundamental concepts of Linux Administrator </p>

<h4>Introduction to Machine Learning by Duke University - Coursera</h4>
<p>Learning Outcomes: Various concepts of Machine Learning and Deep Learning</p>

<h4>Statistics for Data Science using Python - Udemy</h4>
<p>Learning Outcomes: Basic concepts and strategies of Statistics used in Data Science</p>


{% endblock %}