{% extends 'base.html' %}

{% block content %}

<h1>Industrial Experience</h1>

<br>

<h4>Python-Django Internship </h4>
<p> Company: Akash Technolabs <br> Duration: 15 days <br> Learning outcomes: Fundamental concepts of Pyton, Loading HTML and CSS themes in Django & Databse Connectivity.</p>

<h1>Volunteering Experience</h1>
<br>

<h4>Member of IEEE & IEEE WIE AG, SOU IEEE SB </h4>
<p> (July-2019 - January-2021)<br>Served as the managerial and leadership roles in multiple events and campaigns carried out by the organization.
</p>

{% endblock %}