{% extends 'base.html' %}

{% block content %}

<h1>Projects</h1>
<br>
<br>
<br>

<h4>Flight Fare Prediction Model (Machine Learning):</h4>
<p>In this project, I worked on the dataset of the airplane which contains various data such as Flight Company, Source Airport, Destination Airport, Air Fare, Number of Stops, etc. I did Data cleaning and Data pre-processing on the raw data and converted all the data in such a format which can be easily understandable by different algorithms. Then I split the dataset into Train and Test data. I applied 5 different algorithms to this data set for prediction purposes and I got a maximum accuracy of 84% in the Random Forest Algorithm. To increase it further I hyper-tuned the model by using RandomizedSearchCV and at last, I got a final accuracy of 86.6%. </p>
<br><li>Technologies used: Python & Machine Learning Concepts</li>
<br><li><a href="https://github.com/krutarth1810/Air-Fare-Prediction-using-ML">Visit the Github repository</a></p></li>

{% endblock %}